<aside class="shadow-form">
  <h2>Edit profile</h2>
  <%= form_for(resource,
               as: resource_name,
               url: registration_path(resource_name),
               html: { method: :put }) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email,
                      autocomplete: "email",
                      required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :password, 'New password' %>
    <%= f.password_field :password,
                         autocomplete: "new-password",
                         placeholder: "#{@minimum_password_length} characters minimum" %>

    <%= f.label :password_confirmation, 'New password confirmation' %>
    <%= f.password_field :password_confirmation,
                         autocomplete: "new-password",
                         placeholder: "#{@minimum_password_length} characters minimum" %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password,
                         autocomplete: "current-password",
                         placeholder: "Required if editing profile" %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.submit "Update" %>
  <% end %>

  <hr>

  <h3>Export my journal entries</h3>
  <p><%= link_to Entry.csv_filename,
                 export_entries_path(format: :csv) %></p>

  <hr>

  <h3>Delete my account</h3>
  <p>You cannot undo this action.</p>
  <%= button_to "Cancel my account",
                registration_path(resource_name),
                data: {
                    confirm: "Are you sure?"
                },
                method: :delete %>
</aside>

