<!DOCTYPE html>
<html>
  <head>
    <title>Gratitude</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container mx-auto flex flex-justify-space-between flex-align-items-center">
        <h2><%= link_to 'Gratitude', root_path, class: 'nav-link logo' %></h2>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <%= link_to 'Profile', edit_user_registration_path, class: 'nav-link padding-10' %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link padding-10' %>
            <% else %>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link padding-10' %>
              <%= link_to 'Login', new_user_session_path, class: 'nav-link padding-10' %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container mx-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
